Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
compile
config.log
config.status
src/.deps/
src/.libs/
src/*.o
src/*.lo
src/*.la
Makefile
in_adlib.psc
