Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
compile
config.log
config.status
src/.deps/
src/.libs/
src/*.o
src/*.lo
src/*.la
Makefile
in_adlib.psc

contrib/vs2015/.vs
contrib/vs2015/**/Debug
contrib/vs2015/**/Release
contrib/vs2015/**/x64
contrib/vs2015/packages
contrib/vs2015/**/*.filters
src/*.aps
